<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <aside>
    <img src="/assets/logistalia.png" alt="Logo de la clínica" width="50" height="50" class="fill-current" />
    <p>
      <strong>Logistalia</strong><br />
      Tu logística está en buenas manos.
    </p>
  </aside>

  <nav>
    <h6 class="footer-title">Servicios</h6>
    <a>Almacén</a>
    <a>Transporte</a>
  </nav>

  <nav>
    <h6 class="footer-title">Institución</h6>
    <a class="link link-hover" routerLink="nosotros">Sobre nosotros</a>
    <a class="link link-hover" routerLink="trabaja-con-nosotros">Trabaja con nosotros</a>
  </nav>

  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover" routerLink="terminos">Términos de uso</a>
    <a class="link link-hover" routerLink="politica-privacidad">Política de privacidad</a>
  </nav>
</footer>

